:root{
    --fundo:#fee1e8;
    --cor-frente:#c5d7cb;
    --cor-verso:#efc5b9;
    --destaque:#3d5361;
    --preto:#000000;
    --branco:#ffffff;


}

body{
background-color: var(--fundo);
margin: 0;
}

header{
background-color: var(--preto);
display: flex;
justify-content: space-around;
padding: 2rem;
}

header a{
color: var(--branco);
}

footer{
position:fixed;
bottom:0;
background-color:var(--preto);
color:var(--branco);
width:100% ;
text-align: center;
}

#container{
    display: grid;
    gap: 3rem;
    padding: 4rem;
}

.cartao{
    background-color: var(--cor-frente);
    padding: 40px;
    color: var(--branco);
}

.cartao:hover{
    transform: scale(1.08);
}