    :root{
        --fundo:#A52A2A;
        --cor-frente:#FF7F50;
        --cor-verso:#8B008B;
        --destaque:#4B0082;
        --preto:#000000;
        --branco:#ffffff;


    }

body{
background-color: var(--fundo);
margin: 0;
}

footer{
position:fixed;
bottom:0;
background-color:var(--preto);
color:var(--branco);
width:100% ;
text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}

